fastapi
uvicorn
python-dotenv
pyjwt
python-jose[cryptography]
passlib[bcrypt]
PyPDF2 
chromadb 
nltk
sqlalchemy
httpx
jwt
numpy
langchain
langchain_community
dotenv
sentence-transformers==2.5.0
requests==2.31.0
aiohttp==3.9.1